/* src/components/TestDetails.css */
.test-details-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  max-width: 10000px;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Make the question container full width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.options-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.option-item {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
